@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;500;600;700&display=swap');

#bgImg {
  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: -100;
  background: url("../src/img/background.jpg") no-repeat fixed center;
  filter: blur(50px);
  background-size: cover;
}

#header_img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#header_img #header_img_div {
  width: 100%;
  height: 100%;
  background: url("../src/img/header_image.jpg") no-repeat fixed center;
  background-size: cover;
  backdrop-filter: blur(50px);

  box-shadow: inset #000000 0 0 100px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500 !important;
  color: #f0f0f0;
  padding: 0;
  margin: 0 0 10px;

  text-shadow: black 0 0 50px, #ffc36a80 0 0 15px;
}

#sub-h1 {
  font-family: 'IBM Plex Mono', monospace;
  opacity: .8;
  font-weight: 300 !important;
  text-shadow: black 0 0 50px, #ffffff80 0 0 25px;
}

#typed_container * {
  font-size: 1.5rem;
  font-family: 'IBM Plex Mono', monospace;
  color: #333
}

#presTxt, #projTxt {
  width: 100%;
  height: fit-content;
  position: relative;
}

#presTxt *, #projTxt * {
  text-shadow: #00000050 0 0 10px;
}

#projTxt {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#projTxt * {
  width: fit-content;
}

#presImg, #projImg {
  width: 25%;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: black 0 0 10px -10px;
  overflow: hidden;
  display: none;
}

#presImg img, #projImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#presContactBtn {
  background: var(--Lblue);
  border-color: var(--Dblue);
}

#projDoor {
  width: 90%;
  cursor: pointer;
}

#projDoorTxt {
  font-size: 1.25rem;
  margin: 0;
  padding: 10px 20px;
  background-color: #1e1f22;
  border-radius: 5px;
  position: relative;
  right: 0;
  transition: all 0.4s ease-in-out;
}

.projDoorB, .projDoorA {
  content: "";
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 120%;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projDoorB {
  content: "";
  position: absolute;
  bottom: -15%;
  right: -10%;
  z-index: -2;
  width: 90%;
  height: 130%;
  background: linear-gradient(-90deg, var(--Dblue), var(--Lblue));
}

#projDoor:hover .projDoorA {
  left: -20%;
}

.projDoorA {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  z-index: -1;
  width: 90%;
  background-color: #FFFFFF56;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}

#projDoor:hover .projDoorB {
  right: -20%;
}

@media (min-width: 768px) {
  #presTxt, #projTxt {
    font-size: 1.25rem;
    width: 70%;
  }

  #projTxt {
    text-align: end;
    align-items: start;
  }

  #presImg {
    display: block;
  }

  #projImg {
    display: block;
  }

  #presContactBtn {
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 38px;
  }

  #projDoor {
    width: 50%;
    max-width: 650px;
    height: 100px;
    line-height: 75px;
  }
}
